:root {
    --bg: #0f1724;
    --header: #161c2a;
    --shadow-piano: 0 8px 24px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 255, 255, 0.1);
    --white-key: #f3efe6;
    --black-key: #0b0d0f;
    --text: #e6eef6;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    user-select: none;

}

html {
    height: 100vh;
    width: 100vw;
    cursor: none;
}

body {
    height: 100vh;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background: var(--bg);
    color: var(--text);

}

#cursor {
    filter: drop-shadow(0 6px 20px rgba(216, 213, 35, 0.8));
    mix-blend-mode: screen;
    background-color: transparent;
    opacity: 0.95;

    position: absolute;
    z-index: 100;
    height: 50px;
    width: 50px;
    top: 0;
    left: 0;
    transform: translate(-6%, -18%);
    transition: all 0.06s ease;
    pointer-events: none;
}

header {
    /* align-self: center; */
    width: 100%;
    /* background-color: rgb(30, 29, 26);
       box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); */
    border-radius: 10px;
    margin-bottom: 20px;


    background: var(--header);
    /* box-shadow: var(--shadow-sm); */
}


header h1 {
    /* color: white; */
    text-align: center;
    padding: 10px 0;
    font-size: clamp(24px, 7vw, 45px);
    font-weight: 300;
    /* white-space: nowrap; */

    color: var(--text);
    letter-spacing: .6px;
}


main {
    flex: 1;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: end;

    background: transparent;
}



.piano {
    /* background-color: rgb(26, 24, 24); */
    padding: 40px 20px 20px 20px;
    height: 35vh;
    width: auto;
    position: relative;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); */
    display: flex;


    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01)), var(--card);
    box-shadow: var(--shadow-piano);
    align-items: stretch;

}

@media only screen and (max-width: 700px) {
    .piano {
        width: 100vw;
        padding: 15px 5px;
        justify-content: center;
    }

}

:root {
    --txw: 0;
    --twy: 0;
    --tx: 0;
    --ty: 0;

}

.whiteKey {

    height: 100%;
    width: 50px;
    font-size: 11px;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(226, 226, 223);
    color: rgb(154, 178, 196);

    border: 1px solid black;
    border-radius: 0 0 7px 7px;
    position: relative;
    z-index: 1;
    /* transition: transform 0.2s ease; */
    overflow: visible;
    transform: translate(var(--txw), var(--twy));

    background-color: var(--white-key);
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25) inset;

}

.whiteKey:has(.left) {
    z-index: 3;
}

.whiteKey:has(.blackKey) {

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;


}

.blackKey {

    background-color: black;
    border: 1px solid rgba(131, 131, 131, 0.574);
    width: 70%;
    height: 75%;
    border-radius: 0 0 8px 8px;

    color: rgb(86, 84, 84);
    font-size: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 0;
    transform: translate(var(--tx), var(--ty));
    /* transition: transform 0.1s ease; */

    background: linear-gradient(180deg, #070809, var(--black-key));
    border: 1px solid rgba(255, 255, 255, 0.03);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.left {

    --tx: 46%;
}

.right {
    --tx: -46%;


}

.whiteKey.pressed {
    --ty: -4px;
    --twy: 4px;

    background: linear-gradient(180deg, #d9d7d1, var(--white-key));
    box-shadow: none;
}

.blackKey.pressed {
    --ty: 4px;
    transition: transform 0.3s ease;

}

.blackKey.notPressed {
    --ty: 0;
}



footer {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    padding: 15px 20px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: none;

    color: var(--text);

}

.instruction-wrapper {

    position: absolute;
    z-index: 50;
    top: 120px;

    left: 5%;
}

.instruction-panel {
    background-color: rgb(11, 17, 40);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(40, 36, 50);
    color: white;
    /* margin-left: 10px; */
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
    display: none;

}

.instruction-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.instruction-wrapper:hover .instruction-panel {
    display: block;

}


.musicNotes {
    position: absolute;
    width: 93%;
    height: 50px;
    top: -20px;
    /* inset: 0; */
    /* cover the piano area */
    pointer-events: none;
    overflow: visible;
    /* background-color: #ffffff1d; */
}

.musicNote {
    position: absolute;
    bottom: 20px;
    width: 44px;
    height: 44px;
    background: linear-gradient(rgb(235, 224, 159) 0 0);
    /* mask: url('') no-repeat center / contain;
            -webkit-mask: url('') no-repeat center / contain; */
    transition: transform 3s cubic-bezier(.2, .9, .3, 1), opacity 1s ease;
    opacity: 0;
    filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.45));
    border-radius: 6px;

}